# 제로베이스 데이터 사이언스 스쿨 3기 SQL 과제 2
- 유가 데이터 분석

### 8문제 총 100점

- 1번 5점
- 2번 5점
- 3번 10점
- 4번 30점
- 5번 10점
- 6번 10점
- 7번 15점
- 8번 15점

### 1 ~ 8번 모두 본 노트북 파일에 답안 작성해서 제출해주세요 :)

---

- 모듈 임포트

In [1]:
import mysql.connector
import pandas as pd
import googlemaps
from bs4 import BeautifulSoup
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By
from selenium.webdriver.support.select import Select
from tqdm.notebook import tqdm
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import requests

In [4]:
conn = mysql.connector.connect(
    host = 'endpoint',
    port = 3306,
    database = 'oneday',
    user = 'id',
    password = 'pw'
)

mycursor = conn.cursor()

문제 1.

주유소 데이터를 저장할 테이블을 다음의 구조로 생성하세요. (PDF 파일 참고)

In [9]:
brand_sql = ("""
create table gas_brand
            (
            id int auto_increment,
            name varchar(16),
            primary key (id)
            )
            """)

station_sql = ("""
create table gas_station
            (
            id int auto_increment,
            brand int,
            name varchar(64),
            city char(2),
            gu varchar(10),
            address varchar(128),
            gasoline int,
            diesel int,
            self boolean,
            car_wash boolean,
            charging_station boolean,
            car_maintenance boolean,
            convenience_store boolean,
            24_hours boolean,
            lat decimal(16, 14),
            lng decimal(17, 14),
            primary key (id),
            constraint FK_gas_station foreign key (brand) references gas_brand(id)
            )
            """)

In [10]:
mycursor.execute('use oneday;')
mycursor.execute(brand_sql)
mycursor.execute(station_sql)
mycursor.execute('show tables')
tables = mycursor.fetchall()
for row in tables:
    print(row)

('coffee_brand',)
('coffee_store',)
('gas_brand',)
('gas_station',)

문제 2.

Python 코드로 GAS_BRAND 데이터를 다음과 같이 입력하고 확인하세요. (PDF 파일 참고)

In [12]:
brand_data = [(1, 'SK에너지'),
              (2, '현대오일뱅크'),
              (3, 'GS칼텍스'),
              (4, 'S-OIL'),
              (5, '알뜰주유소'),
              (6, '자가상표')]

insert_brand_sql = 'insert into gas_brand values (%s, %s)'

for data in brand_data:
    mycursor.execute(insert_brand_sql, data)
    print(data)
    conn.commit()

(1, 'SK에너지')
(2, '현대오일뱅크')
(3, 'GS칼텍스')
(4, 'S-OIL')
(5, '알뜰주유소')
(6, '자가상표')

제출 1.
- Table 생성 결과 : Desc GAS_BRAND; Desc GAS_STATION;

In [13]:
mycursor.execute('desc gas_brand;')
submit1 = mycursor.fetchall()
columns = [column[0] for column in mycursor.description]
df1 = pd.DataFrame(submit1, columns=columns)
df1

  Field         Type Null  Key Default           Extra
0    id          int   NO  PRI    None  auto_increment
1  name  varchar(16)  YES         None

In [15]:
mycursor.execute('desc gas_station;')
submit2 = mycursor.fetchall()
columns = [column[0] for column in mycursor.description]
df2 = pd.DataFrame(submit2, columns=columns)
df2

                Field            Type Null  Key Default           Extra
0                  id             int   NO  PRI    None  auto_increment
1               brand             int  YES  MUL    None
2                name     varchar(64)  YES         None
3                city         char(2)  YES         None
4                  gu     varchar(10)  YES         None
5             address    varchar(128)  YES         None
6            gasoline             int  YES         None
7              diesel             int  YES         None
8                self      tinyint(1)  YES         None
9            car_wash      tinyint(1)  YES         None
10   charging_station      tinyint(1)  YES         None
11    car_maintenance      tinyint(1)  YES         None
12  convenience_store      tinyint(1)  YES         None
13           24_hours      tinyint(1)  YES         None
14                lat  decimal(16,14)  YES         None
15                lng  decimal(17,14)  YES         None

제출 2.
- GAS_BRAND 조회 결과 : SELECT * FROM GAS_BRAND;

In [16]:
mycursor.execute('select * from gas_brand;')
submit3 = mycursor.fetchall()
columns = [column[0] for column in mycursor.description]
df3 = pd.DataFrame(submit3, columns=columns)
df3

   id    name
0   1   SK에너지
1   2  현대오일뱅크
2   3   GS칼텍스
3   4   S-OIL
4   5   알뜰주유소
5   6    자가상표

문제 3.

다음의 함수와 그 함수를 테스트하는 코드를 작성하세요. (PDF 파일 참고)

- 화폐단위 문자형을 입력받아 숫자형으로 반환하는 함수 (테스트 입력 : ‘1,000’)
- 주유소 브랜드를 입력하면 GAS_BRAND 데이터를 참고하여 ID 를 반환하는 함수 (테스트 입력 : ‘SK에너지’) - 주소를 입력받아 구 이름을 반환하는 함수 (테스트 입력 : ‘서울시 강남구 헌릉로 730’)
- 주소를 입력받아 위도, 경도를 반환하는 함수 (테스트 입력 : ‘서울시 강남구 헌릉로 730’)

제출 3.
- 각 함수 및 테스트 코드와 실행결과

In [22]:
def convert_currency(chr):
    return int(chr.replace(',', ''))

print(convert_currency('1,000'))
print(type(convert_currency('1,000')))

1000
<class 'int'>

In [69]:
test = pd.read_csv('C:\ZERO\ds_study\data\eda2_oil_price.csv')
test['brand'].unique()

array(['HD현대오일뱅크', 'SK에너지', 'GS칼텍스', 'S-OIL', '알뜰주유소', '알뜰(ex)', '자가상표'],
      dtype=object)

In [73]:
def return_brand(brand):
    if brand == 'HD현대오일뱅크':
        brand = '현대오일뱅크'
    elif brand == '알뜰(ex)':
        brand = '알뜰주유소'

    query = 'select id from gas_brand where name like %s'
    brand_chr = f'%{brand}%'
    mycursor.execute(query, (brand_chr,))
    return mycursor.fetchall()[0][0]

print(return_brand('SK에너지'))
print(return_brand('HD현대오일뱅크'))
print(return_brand('알뜰(ex)'))

1
2
5

In [33]:
def return_gu(addr):
    return addr.split()[1]

print(return_gu('서울시 강남구 헌릉로 730'))

강남구

In [80]:
def get_locations(addr):
    gmaps_key = 'AIzaSyDfic01Y_R80tikdb8-bndPh2wF_tutJNE'
    gmaps = googlemaps.Client(key=gmaps_key)

    try:
        temp = gmaps.geocode(addr, language='ko')
        if temp:  # temp가 비어있지 않은지 확인
            lat = temp[0]['geometry']['location']['lat']
            lng = temp[0]['geometry']['location']['lng']
        else:
            print(f'{addr} -에 대한 지오코딩 결과가 존재하지 않습니다.')
            lat = 0
            lng = 0
    except Exception as e:
        print(f"에러 발생 {addr}: {e}")
        lat = 0
        lng = 0
    
    return lat, lng

print(get_locations('서울시 강남구 헌릉로 730'))
lat, lng = get_locations('서울시 강남구 헌릉로 730')
print(lat, lng)

(37.4665675, 127.1190803)
37.4665675 127.1190803

문제 4.

Python 코드에서 주유소 페이지에서 데이터를 가져올때, GAS_STATION 테이블에 바로 입력하도록 수정하세요. (앞서 생 성한 함수활용)
- 주의. city 는 ‘서울’ 로 고정, 부가정보 데이터 타입
- 입력된 데이터의 총 갯수를 쿼리하여 결과를 확인합니다. - 입력된 데이터 상위 10개를 쿼리하여 결과를 확인합니다.


제출 4.
- 주유소 데이터 관련 코드 (ipynb)

In [2]:
# 사이트 접속
url = 'https://www.opinet.co.kr/searRgSelect.do'
options = webdriver.ChromeOptions()
options.add_argument('--start-maximized')
driver = webdriver.Chrome(ChromeDriverManager().install(), options=options)
driver.get(url)

In [49]:
# 옵션 클릭
option1 = driver.find_element(By.ID, 'CWSH_YN') # 세차장
option2 = driver.find_element(By.ID, 'MAINT_YN') # 경정비
option3 = driver.find_element(By.ID, 'CVS_YN') # 편의점
option4 = driver.find_element(By.ID, 'SEL24_YN') # 24시간
option1.click()
option2.click()
option3.click()
option4.click()

In [50]:
# 서울시 지역 선택
sido_btn = Select(driver.find_element(By.ID, 'SIDO_NM0'))
sido_btn.select_by_visible_text('서울')

In [76]:
gu_btn = Select(driver.find_element(By.ID, 'SIGUNGU_NM0'))

In [52]:
def check_status(src):
    if '_off.gif' in src:
        return 0
    else:
        return 1

In [53]:
insert_gas_staion_sql = """insert into gas_station 
(brand, name, city, gu, address, gasoline, diesel, self, car_wash, charging_station, car_maintenance, convenience_store, 24_hours, lat, lng)
values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"""

In [85]:
for i in tqdm(range(1, 26)):
    gu_btn = Select(driver.find_element(By.ID, 'SIGUNGU_NM0'))
    gu_btn.select_by_index(i)
    station_list = driver.find_element(By.ID, 'body1').find_elements(By.TAG_NAME, 'tr')
    for idx in range(len(station_list)):
        WebDriverWait(driver, 5).until(
            EC.element_to_be_clickable((By.CSS_SELECTOR, f'#body1 > tr:nth-child({idx+1}) > td.rlist > a'))).click()
        html = driver.page_source
        soup = BeautifulSoup(html, 'html.parser')

        addr = soup.find(id='rd_addr').text # 주소
        lat, lng = get_locations(soup.find(id='rd_addr').text) # 위도, 경도

        data = [
            return_brand(soup.find(id='poll_div_nm').text), # 브랜드
            soup.find(id='os_nm').text, # 주유소명
            '서울', # 도시
            return_gu(addr), # 구
            addr, # 주소
            convert_currency(soup.find(id='b027_p').text), # 휘발유
            convert_currency(soup.find(id='d047_p').text), # 경유
            1 if soup.find(id='self_icon') is not None else 0, # 셀프여부
            check_status(soup.find(id='cwsh_yn').get('src')), # 세차장
            check_status(soup.find(id='lpg_yn').get('src')), # 충전소
            check_status(soup.find(id='maint_yn').get('src')), # 경정비
            check_status(soup.find(id='cvs_yn').get('src')), # 편의점
            check_status(soup.find(id='sel24_yn').get('src')), # 24시 영업
            lat, # 위도 
            lng # 경도
        ]

        mycursor.execute(insert_gas_staion_sql, tuple(data))
        print(return_gu(soup.find(id='rd_addr').text), soup.find(id='os_nm').text)
        conn.commit()

  0%|          | 0/25 [00:00<?, ?it/s]

강남구 (주)보성 세곡주유소
강남구 HD현대오일뱅크㈜직영 산성셀프주유소
강남구 방죽주유소
강남구 자곡셀프주유소
강남구 (주)중앙에너비스 수서지점
강남구 삼성동주유소
강남구 HD현대오일뱅크㈜직영 도곡셀프주유소
강남구 극동유화㈜ 개나리주유소
강남구 HD현대오일뱅크㈜직영 유진주유소
강남구 오일프러스 셀프
강남구 지에스칼텍스㈜에너지플러스허브GS타워
강남구 SK서광주유소
강남구 SK에너지㈜ 진달래주유소
강남구 (주)선진도곡주유소
강남구 대교셀프주유소
강남구 (유)동하석유 힐탑셀프주유소
강남구 대동석유 압구정주유소
강남구 지에스칼텍스㈜ 삼성로주유소
강남구 대양산업(주) 개포주유소
강남구 지에스칼텍스㈜ 은마주유소
강남구 HD현대오일뱅크㈜직영 신사현대주유소
강남구 대성석유(주)동호주유소
강남구 지에스칼텍스(주)학여울주유소
강남구 HD현대오일뱅크㈜직영 한양주유소
강남구 명품주유소
강남구 (주)소모 쎈트럴주유소
강남구 대청주유소
강남구 ㈜새서울석유 새서울주유소
강남구 SK논현주유소
강남구 (주)제이제이네트웍스 제이제이주유소
강남구 (주)만정에너지 삼보주유소
강동구 재건에너지 재정제2주유소 고속셀프지점
강동구 대성석유(주)길동주유소
강동구 (주)소모 신월주유소
강동구 방아다리주유소
강동구 지에스칼텍스㈜ 동서울주유소
강동구 (주)소모 성내주유소
강동구 (주)삼표에너지 고덕주유소
강동구 sk해뜨는주유소
강동구 (주)퍼스트오일 코알라주유소
강동구 주)지유에너지직영 오렌지주유소
강동구 천호현대주유소
강동구 광성주유소
강북구 덕릉로주유소
강북구 수유동주유소
강북구 북서울고속주유소
강북구 에덴주유소
강북구 SK에너지(주) 매일주유소
강북구 HD현대오일뱅크㈜직영 번동셀프주유소
강북구 씨앤에스유통㈜ 미아셀프주유소
강북구 ㈜지에스이앤알 미아주유소
강북구 세원주유소
강북구 대성석유(주)신광주유소
강서구 이케이에너지(주) 강서주유소
강서구 화곡역주유소
강서구 목화주유소
강서구 행촌에너지 공항주유소
강서구 스카이주유소
강서구 강서오곡셀프주유소
강서구 KH에너지(주)직영 KH외발산주유소
강서구 지에스칼텍스㈜ 경인고속주유소
강서구 개화주유소
강서구 현대오일뱅크 등촌주유소
강서구 신화곡주유소
강서구 강서열린주유소
강서구 하이웨이주유소
강서구 HD현대오일뱅크㈜직영 양화교셀프주유소
강서구 화곡현대주유소
강서구 대성석유(주) 관문주유소
강서구 (주)한진 김포공항주유소
강서구 HD현대오일뱅크㈜직영 가양주유소
강서구 대성석유(주)방화대성주유소
강서구 세원제1주유소
강서구 대성주유소
강서구 SK KH에너지 가양주유소
강서구 코리나(주)청룡주유소
강서구 박물관주유소
강서구 참솔에너지
강서구 염창동주유소
관악구 (주)연우에너지 신관주유소
관악구 (주)한유에너지행운셀프주유소
관악구 HD현대오일뱅크㈜직영 문성골주유소
관악구 서일석유(주)락성주유소
관악구 SK에너지(주)직영 대공원주유소
관악구 SK에너지(주) 신봉천
관악구 대양석유(주)직영 보라매주유소
관악구 유림주유소
관악구 관악시몬주유소
관악구 CJ대한통운㈜ 신림주유소
광진구 태양주유소
광진구 (주)장수주유소
광진구 HD현대오일뱅크㈜직영 능동주유소
광진구 (주)창원CW
광진구 HD현대오일뱅크㈜직영 중곡현대주유소
광진구 HD현대오일뱅크㈜직영 중원셀프주유소
광진구 HD현대오일뱅크㈜직영 장호셀프주유소
광진구 정해네트웍스(주)일진주유소
광진구 유니스에너지 자양주유소
광진구 삼호주유소
광진구 강평주유소 ㈜강평텔레콤
구로구 서서울고속주유소
구로구 씨앤에스유통(주) 구로드림주유소
구로구 ㈜자연에너지 고척주유소
구로구 신성주유소
구로구 구인주유소
구로구 SK구로주유소
구로구 (주)한미석유구로그린주유소
구로구 대성산업(주)디큐브주유소
구로구 극동유화(주) 항동주유소
구로구 개봉주유소
구로구 SK에너지(주)직영 개봉동주유소
구로구 HD현대오일뱅크㈜직영 구로셀프주유소
구로구 HD현대오일뱅크㈜직영 신구로주유소
구로구 대원셀프주유소
구로구 JHC에너지
구로구 동아주유소
금천구 구광주유소
금천구 (주)화동유업 화동주유소
금천구 HD현대오일뱅크㈜직영 금천현대셀프주유소
금천구 SK에너지(주) 이가주유소
금천구 백산주유소
금천구 지에스칼텍스(주)일신주유소
금천구 대득에너지(금천셀프주유소)
금천구 현대오일뱅크㈜직영 금천제일주유소
노원구 이엠석유(주)배꽃나라주유소
노원구 삼육주유소
노원구 남선석유(주)구도일주유소 불암
노원구 화랑대주유소
노원구 태릉솔밭주유소
노원구 (주)정건에너지직영
노원구 월계주유소
노원구 한신주유소
노원구 SK에너지㈜직영 상계주유소
노원구 상계동주유소
노원구 성북역주유소
노원구 신성주유소
노원구 하계삼호주유소
도봉구 이케이에너지 주식회사
도봉구 (주)자연에너지 햇살주유소
도봉구 극동유화(주) 대안주유소
도봉구 지에스칼텍스㈜ 방학동주유소
도봉구 삼미북부셀프주유소
도봉구 (주)쌍문셀프주유소
도봉구 한이에너지(주) 쌍문주유소
도봉구 (주)헨지스에너지 구도일주유소 도봉
도봉구 지에스칼텍스㈜ 도봉주유소
도봉구 동일석유(주) 창동주유소
도봉구 대성산업(주)신창주유소
도봉구 노원교주유소
도봉구 오복주유소
도봉구 HD현대오일뱅크㈜직영 영신주유소
동대문구 동서울고속주유소
동대문구 재정주유소
동대문구 풍한주유소
동대문구 재정제2주유소
동대문구 대성산업㈜청량리주유소
동대문구 대성산업(주)동마장주유소
동대문구 (주)경동주유소
동대문구 (주)파랑에너지
동대문구 삼영주유소
동대문구 삼미상사(주)장안킹셀프주유소
동대문구 (주)안국에너지 삼원셀프주유소
동대문구 홍능주유소
동대문구 HD현대오일뱅크㈜직영 스피드주유소
동대문구 배봉로주유소
동작구 창원이엔지주유소
동작구 지에스칼텍스㈜직영 남성주유소
동작구 매일주유소
동작구 HD현대오일뱅크㈜직영 신대방셀프주유소
동작구 HD현대오일뱅크㈜직영 사당셀프주유소
동작구 HD현대오일뱅크㈜직영 흑석동셀프주유소
동작구 HD현대오일뱅크㈜직영 동작주유소
마포구 청원주유소
마포구 성산대교셀프주유소
마포구 (주)안국에너지 망원동주유소
마포구 에쓰오일(주)마포주유소
마포구 에쓰오일(주) 염리동주유소
마포구 (주)만성상사 대흥주유소
마포구 에스에스오토셀프
마포구 SK에너지 양지주유소
마포구 SK에너지(주) 안국주유소
서대문구 (주)한화미 구도일주유소 두꺼비
서대문구 (주)가재울뉴타운주유소
서대문구 (주)미래아스팔트 신우주유소
서대문구 지에스칼텍스(주)홍제동주유소
서대문구 중앙에너비스 동교지점
서대문구 삼미상사(주)서부주유소
서대문구 행촌제2주유소
서대문구 HD현대오일뱅크㈜직영 연세주유소
서대문구 (주)안국에너지 삼보셀프주유소
서대문구 HD현대오일뱅크㈜직영 독립문주유소
서대문구 광호주유소
서대문구 연희주유소
서대문구 ㈜우남에너지 문화사랑주유소
서초구 만남의광장주유소
서초구 양재최고주유소
서초구 (주)대농석유 남태령주유소
서초구 신반포주유소
서초구 HD현대오일뱅크㈜직영 팔레스주유소
서초구 HD현대오일뱅크㈜직영 사평로주유소
서초구 서초하이웨이 주유소
서초구 지에스칼텍스(주)선천주유소
서초구 태봉셀프주유소
서초구 HD현대오일뱅크㈜직영 방배현대주유소
서초구 HD현대오일뱅크㈜직영 서초제일주유소
서초구 대신석유(주)대우주유소
서초구 극동유화(주) 전당앞주유소
서초구 에쓰오일(주)직영 오토테크주유소
서초구 대성산업(주)직영 터미널(고속)주유소
서초구 반포그린주유소
서초구 에너지플러스허브 삼방주유소
서초구 에너지 플러스 허브 내곡
서초구 헌릉로주유소
서초구 HD현대오일뱅크㈜직영 양재현대주유소
서초구 양재주유소
서초구 대성석유(주)연일주유소
서초구 지에스칼텍스(주)남서울주유소
서초구 방배동주유소
서초구 대신석유㈜서원주유소
서초구 (주)선문에너지 중앙주유소
성동구 (주)서울에너지 직영
성동구 HD현대오일뱅크㈜직영 성동셀프주유소
성동구 아이콘주유소
성동구 지에스칼텍스㈜ 도루코주유소
성동구 SK에너지(주) 군자동주유소
성동구 삼우주유소
성동구 SK세원2주유소
성동구 SK에너지(주) 성수주유소
성동구 SK KH에너지 성수만세주유소
성동구 동일주유소
성동구 청계로주유소
성북구 장삼 쌍둥이 주유소
성북구 이케이에너지㈜ 강산주유소
성북구 이케이에너지(주) 강산제2주유소
성북구 (주)삼표에너지 정릉주유소
성북구 중앙에너비스 종암지점
성북구 지에스칼텍스(주) 종암주유소
성북구 (주)성북주유소
성북구 우리주유소
성북구 장위주유소
성북구 HD현대오일뱅크㈜직영 고대셀프주유소
성북구 HD현대오일뱅크㈜직영 북악셀프주유소
성북구 ㈜명연에너지 효성주유소
성북구 (주)신용 구도일주유소화랑로
성북구 동일주유소
성북구 HD현대오일뱅크㈜직영 아리랑주유소
성북구 삼선주유소
송파구 위례드림주유소
송파구 상아주유소
송파구 위례제일주유소
송파구 남성대주유소
송파구 지에스칼텍스(주)스마트위례주유소
송파구 지에스칼텍스(주)가든파이브주유소
송파구 한강에너지(주)퍼스트주유소
송파구 (주)잠실에너지
송파구 백제고분로주유소
송파구 지에스이앤알 직영 송파제일주유소
송파구 방이주유소
송파구 (유)호림플러스홀딩스 남성주유소
송파구 HD현대오일뱅크㈜직영 잠실셀프주유소
송파구 (주)신화에너지 서울지점
송파구 삼화주유소
송파구 (주)삼표에너지 아시아주유소
송파구 (주)삼표에너지 훼미리주유소
송파구 대성주유소
송파구 (주)유진주유소
송파구 (주)정직한주유소
송파구 제트라인DM주유소
송파구 완불주유소
송파구 송파주유소
송파구 (주)삼표에너지 우리주유소
송파구 대성석유(주)석촌주유소
송파구 HD현대오일뱅크㈜직영 올림픽셀프주유소
송파구 대신석유(주)진양주유소
양천구 가로공원주유소
양천구 양천구주유소
양천구 플라트(주)서호주유소
양천구 현대주유소
양천구 개나리Self주유소
양천구 형산석유(주)원주유소
양천구 삼미상사(주)신월IC셀프주유소
양천구 지에스이앤알 직영 서울주유소
양천구 현대오일뱅크(주)직영 양천셀프주유소
양천구 HD현대오일뱅크㈜직영 남부순환셀프주유소
양천구 신정동주유소
양천구 SK에너지(주) 신평
양천구 (주)삼표에너지 목동주유소
양천구 지에스칼텍스㈜ 건지주유소
양천구 목동주유소
양천구 현대오일뱅크(주)직영 양천현대셀프주유소
양천구 SK에너지(주) 경인주유소
양천구 (주)서부트럭터미날
양천구 현대오일뱅크(주)직영 신목동셀프주유소
양천구 신양주유소
영등포구 영등포제일셀프주유소
영등포구 도림주유소
영등포구 영등포현대셀프주유소
영등포구 행촌주유소
영등포구 (주)MS에너지
영등포구 (주)강서오일
영등포구 한경석유(주)경덕주유소
영등포구 성락주유소
영등포구 (주)대청에너지 대청주유소
영등포구 남서울고속주유소
영등포구 지에스칼텍스㈜ 신길주유소
영등포구 ㈜지에스이앤알 모드니주유소
영등포구 매봉주유소
영등포구 SK에너지(주) 양평주유소
영등포구 (주)한미석유 제2한강주유소
영등포구 SK에너지(주) 신길동주유소
영등포구 SK에너지(주) 기린주유소
영등포구 (주)지에스이앤알 보라주유소
영등포구 선유도주유소
영등포구 국회대로주유소
영등포구 버드나룻길주유소
영등포구 SK KH에너지 여의도주유소
영등포구 SJ오일(주) 여의도주유소
용산구 HD현대오일뱅크㈜직영 한남동주유소
용산구 (주)신태성주유소
용산구 (주)영원 풍기주유소
용산구 동자동주유소
용산구 HD현대오일뱅크㈜직영 갈월동주유소
용산구 HD현대오일뱅크㈜직영 강변현대주유소
용산구 HD현대오일뱅크(주)직영 소월길주유소
용산구 (주)남경주유소
용산구 한석주유소
용산구 에너비스
용산구 서계주유소
은평구 (주)디오티디 은평유니콘주유소
은평구 타이거주유소
은평구 (주)명연에너지 수색훼미리주유소
은평구 지에스칼텍스(주)수색뉴타운주유소
은평구 불광주유소
은평구 대성산업㈜ 대성주유소
은평구 지에스칼텍스㈜ 신사제일주유소
은평구 지에스칼텍스㈜ 서부주유소
은평구 은평뉴타운주유소
은평구 박석고개주유소
은평구 성원이앤에스(주)은평지점
은평구 코끼리주유소
종로구 ㈜지에스이앤알 평창주유소
종로구 자하문주유소
종로구 안풍주유소
종로구 구도일주유소특종
종로구 SK북악주유소
중구 약수주유소
중구 세화주유소
중구 장충드림주유소
중구 장충주유소
중구 신당동주유소
중구 필동주유소
중구 서남주유소
중랑구 대원주유소
중랑구 오천만주유소
중랑구 면목SELF주유소
중랑구 구도일주유소 동천
중랑구 대양주유소
중랑구 우림주유소
중랑구 (주)태영 구도일주유소 한인
중랑구 신내주유소
중랑구 범아주유소
중랑구 신일셀프주유소
중랑구 용마로주유소

In [3]:
driver.quit()

In [86]:
mycursor.execute('select count(*) from gas_station')
submit4 = mycursor.fetchall()
columns = [column[0] for column in mycursor.description]
df4 = pd.DataFrame(submit4, columns=columns)
df4

   count(*)
0       363

In [87]:
mycursor.execute('select * from gas_station limit 10')
submit5 = mycursor.fetchall()
columns = [column[0] for column in mycursor.description]
df5 = pd.DataFrame(submit5, columns=columns)
df5

,id,brand,name,city,gu,address,gasoline,diesel,self,car_wash,charging_station,car_maintenance,convenience_store,24_hours,lat,lng
0,1,1,(주)보성 세곡주유소,서울,강남구,서울 강남구 헌릉로 731 (세곡동),1632,1553,1,1,0,0,0,0,37.46715650000000,127.11870810000000
1,2,2,HD현대오일뱅크㈜직영 산성셀프주유소,서울,강남구,서울 강남구 헌릉로 730,1639,1569,1,1,0,0,0,0,37.46656750000000,127.11908030000000
2,3,3,방죽주유소,서울,강남구,서울 강남구 밤고개로 215 (율현동),1667,1599,1,1,0,0,0,0,37.47499260000000,127.10688660000000
3,4,1,자곡셀프주유소,서울,강남구,서울 강남구 밤고개로 120 (자곡동),1685,1599,1,1,0,0,0,0,37.48340020000000,127.10404580000000
4,5,1,(주)중앙에너비스 수서지점,서울,강남구,서울 강남구 광평로 202 (수서동),1687,1627,1,1,0,0,0,0,37.48410530000000,127.09504010000000
5,6,2,삼성동주유소,서울,강남구,서울 강남구 테헤란로 619 (삼성동),1689,1655,1,1,0,0,0,0,37.50985760000000,127.06511010000000
6,7,2,HD현대오일뱅크㈜직영 도곡셀프주유소,서울,강남구,서울 강남구 남부순환로 2718 (도곡2동),1704,1624,1,1,0,1,0,0,37.48546230000000,127.04321810000000
7,8,4,극동유화㈜ 개나리주유소,서울,강남구,서울 강남구 언주로 423 (역삼동),1705,1625,1,1,0,1,0,1,37.50007760000000,127.03854190000000
8,9,2,HD현대오일뱅크㈜직영 유진주유소,서울,강남구,서울 강남구 논현로 152 (도곡동),1714,1639,0,1,0,1,0,0,37.48743160000000,127.03999760000000
9,10,1,오일프러스 셀프,서울,강남구,서울 강남구 남부순환로 2651 (도곡동),1714,1634,1,1,0,1,0,1,37.48583900000000,127.03967210000000

문제 5.

시각화 프로젝트를 위하여 다음의 규칙으로 쿼리하여 CSV 파일로 저장합니다. (Python 코드로 작성)
- 전체 데이터를 가져오는데, 주유소 브랜드 아이디 대신 브랜드명이 표시되어야 합니다. (정렬 : 주유소 매장 아이디 순)
- 다음의 형식으로 저장되어야 함 (브랜드 이름, 칼럼 명 주의, id : GAS_STORE.id)

제출 5.
- 시각화 프로젝트 관련 코드 (ipynb), 결과 파일 (csv)

In [111]:
sql = """
select s.id, b.name brand, s.name, city, gu, address, gasoline, diesel, self, car_wash, charging_station, car_maintenance, convenience_store, 24_hours, lat, lng
from gas_brand b, gas_station s
where s.brand = b.id
order by s.id
"""
mycursor.execute(sql)

rows = mycursor.fetchall()
columns = [column[0] for column in mycursor.description]
df = pd.DataFrame(rows, columns=columns)
df

,id,brand,name,city,gu,address,gasoline,diesel,self,car_wash,charging_station,car_maintenance,convenience_store,24_hours,lat,lng
0,1,SK에너지,(주)보성 세곡주유소,서울,강남구,서울 강남구 헌릉로 731 (세곡동),1632,1553,1,1,0,0,0,0,37.46715650000000,127.11870810000000
1,2,현대오일뱅크,HD현대오일뱅크㈜직영 산성셀프주유소,서울,강남구,서울 강남구 헌릉로 730,1639,1569,1,1,0,0,0,0,37.46656750000000,127.11908030000000
2,3,GS칼텍스,방죽주유소,서울,강남구,서울 강남구 밤고개로 215 (율현동),1667,1599,1,1,0,0,0,0,37.47499260000000,127.10688660000000
3,4,SK에너지,자곡셀프주유소,서울,강남구,서울 강남구 밤고개로 120 (자곡동),1685,1599,1,1,0,0,0,0,37.48340020000000,127.10404580000000
4,5,SK에너지,(주)중앙에너비스 수서지점,서울,강남구,서울 강남구 광평로 202 (수서동),1687,1627,1,1,0,0,0,0,37.48410530000000,127.09504010000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
358,359,S-OIL,(주)태영 구도일주유소 한인,서울,중랑구,서울 중랑구 망우로 170 (상봉동),1607,1537,1,1,0,1,0,0,37.59246550000000,127.07190800000000
359,360,SK에너지,신내주유소,서울,중랑구,서울 중랑구 용마산로 705 (신내동),1622,1573,1,1,0,0,0,0,37.61712500000000,127.09589620000000
360,361,S-OIL,범아주유소,서울,중랑구,서울 중랑구 동일로 881 (묵동),1646,1576,0,1,0,1,0,0,37.60931110000000,127.07767250000000
361,362,SK에너지,신일셀프주유소,서울,중랑구,서울 중랑구 상봉로 58 (망우동),1698,1597,1,1,0,1,0,1,37.59094190000000,127.09380660000000
362,363,SK에너지,용마로주유소,서울,중랑구,서울 중랑구 용마산로 309 (면목동),1698,1598,1,1,0,0,0,0,37.57987770000000,127.09218190000000

In [114]:
df.to_csv('./[DS]20_sql2_choingyoung.csv', encoding='utf8', index=False)

In [115]:
test = pd.read_csv('./[DS]20_sql2_choingyoung.csv')
test.head()

,id,brand,name,city,gu,address,gasoline,diesel,self,car_wash,charging_station,car_maintenance,convenience_store,24_hours,lat,lng
0,1,SK에너지,(주)보성 세곡주유소,서울,강남구,서울 강남구 헌릉로 731 (세곡동),1632,1553,1,1,0,0,0,0,37.467157,127.118708
1,2,현대오일뱅크,HD현대오일뱅크㈜직영 산성셀프주유소,서울,강남구,서울 강남구 헌릉로 730,1639,1569,1,1,0,0,0,0,37.466567,127.119080
2,3,GS칼텍스,방죽주유소,서울,강남구,서울 강남구 밤고개로 215 (율현동),1667,1599,1,1,0,0,0,0,37.474993,127.106887
3,4,SK에너지,자곡셀프주유소,서울,강남구,서울 강남구 밤고개로 120 (자곡동),1685,1599,1,1,0,0,0,0,37.483400,127.104046
4,5,SK에너지,(주)중앙에너비스 수서지점,서울,강남구,서울 강남구 광평로 202 (수서동),1687,1627,1,1,0,0,0,0,37.484105,127.095040

문제 6.

위도, 경도 정보를 이용하여 미왕빌딩에서 1킬로 이내에 위치한 주유소 정보를 검색하세요.

- 주유소 아이디, 주유소 브랜드명, 주유소 매장명, 주소, 미왕빌딩으로 부터의 거리 (km)

제출 6.
- 쿼리, 결과

In [119]:
searching = '미왕빌딩'
url = 'https://dapi.kakao.com/v2/local/search/keyword.json?query={}'.format(searching)
API_key = 'fe54a71f8a94160e6e4dc6e3e21a8863'
headers = {
    'Authorization': f'KakaoAK {API_key}'
}

places = requests.get(url, headers=headers).json()['documents']
places

[{'address_name': '서울 강남구 역삼동 826-21',
  'category_group_code': '',
  'category_group_name': '',
  'category_name': '부동산 > 빌딩',
  'distance': '',
  'id': '1598835404',
  'phone': '',
  'place_name': '미왕빌딩',
  'place_url': 'http://place.map.kakao.com/1598835404',
  'road_address_name': '서울 강남구 강남대로 364',
  'x': '127.0292884713586',
  'y': '37.49554428487904'},
 {'address_name': '서울 강남구 역삼동 826-21',
  'category_group_code': 'PK6',
  'category_group_name': '주차장',
  'category_name': '교통,수송 > 교통시설 > 주차장',
  'distance': '',
  'id': '1325105776',
  'phone': '',
  'place_name': '미왕빌딩 주차장',
  'place_url': 'http://place.map.kakao.com/1325105776',
  'road_address_name': '서울 강남구 강남대로 364',
  'x': '127.029292997489',
  'y': '37.495551491811'},
 {'address_name': '서울 강남구 역삼동 826-21',
  'category_group_code': 'HP8',
  'category_group_name': '병원',
  'category_name': '의료,건강 > 병원 > 안과',
  'distance': '',
  'id': '10279024',
  'phone': '02-501-7725',
  'place_name': '눈에미소안과의원',
  'place_url': 'http://place.map.kakao.com/10279024',
  'road_address_name': '서울 강남구 강남대로 364',
  'x': '127.029292997489',
  'y': '37.495551491811'},
 {'address_name': '서울 강남구 역삼동 826-21',
  'category_group_code': 'HP8',
  'category_group_name': '병원',
  'category_name': '의료,건강 > 병원 > 성형외과',
  'distance': '',
  'id': '2117134581',
  'phone': '02-558-0227',
  'place_name': '위버스성형외과',
  'place_url': 'http://place.map.kakao.com/2117134581',
  'road_address_name': '서울 강남구 강남대로 364',
  'x': '127.029288471359',
  'y': '37.495544284879'},
 {'address_name': '서울 강남구 역삼동 826-21',
  'category_group_code': 'HP8',
  'category_group_name': '병원',
  'category_name': '의료,건강 > 병원 > 산부인과',
  'distance': '',
  'id': '859395227',
  'phone': '02-539-5004',
  'place_name': '나를위한 산부인과의원',
  'place_url': 'http://place.map.kakao.com/859395227',
  'road_address_name': '서울 강남구 강남대로 364',
  'x': '127.029292997489',
  'y': '37.495551491811'},
 {'address_name': '서울 강남구 역삼동 826-21',
  'category_group_code': 'HP8',
  'category_group_name': '병원',
  'category_name': '의료,건강 > 병원 > 정형외과',
  'distance': '',
  'id': '395703946',
  'phone': '02-566-7300',
  'place_name': '더강추정형외과의원',
  'place_url': 'http://place.map.kakao.com/395703946',
  'road_address_name': '서울 강남구 강남대로 364',
  'x': '127.0292884713586',
  'y': '37.49554428487904'},
 {'address_name': '서울 강남구 역삼동 826-21',
  'category_group_code': '',
  'category_group_name': '',
  'category_name': '의료,건강 > 병원 > 한의원',
  'distance': '',
  'id': '1564779146',
  'phone': '02-334-1275',
  'place_name': '천인지한의원',
  'place_url': 'http://place.map.kakao.com/1564779146',
  'road_address_name': '서울 강남구 강남대로 364',
  'x': '127.029292997489',
  'y': '37.495551491811'},
 {'address_name': '서울 강남구 역삼동 826-21',
  'category_group_code': 'HP8',
  'category_group_name': '병원',
  'category_name': '의료,건강 > 병원 > 치과',
  'distance': '',
  'id': '31119544',
  'phone': '02-3477-2800',
  'place_name': '포스유치과의원',
  'place_url': 'http://place.map.kakao.com/31119544',
  'road_address_name': '서울 강남구 강남대로 364',
  'x': '127.02927829249178',
  'y': '37.49554068337501'},
 {'address_name': '서울 강남구 역삼동 826-21',
  'category_group_code': '',
  'category_group_name': '',
  'category_name': '스포츠,레저 > 스포츠시설',
  'distance': '',
  'id': '1588260662',
  'phone': '02-3486-2753',
  'place_name': '슬릭부스트 강남',
  'place_url': 'http://place.map.kakao.com/1588260662',
  'road_address_name': '서울 강남구 강남대로 364',
  'x': '127.029257946009',
  'y': '37.4955623125784'},
 {'address_name': '서울 강남구 역삼동 826-21',
  'category_group_code': '',
  'category_group_name': '',
  'category_name': '서비스,산업 > 인터넷,IT',
  'distance': '',
  'id': '940221942',
  'phone': '02-6205-0936',
  'place_name': '패스트뷰',
  'place_url': 'http://place.map.kakao.com/940221942',
  'road_address_name': '서울 강남구 강남대로 364',
  'x': '127.02927603329613',
  'y': '37.49554699098232'},
 {'address_name': '서울 강남구 역삼동 826-21',
  'category_group_code': '',
  'category_group_name': '',
  'category_name': '서비스,산업 > 법률,행정 > 변호사 > 법무법인',
  'distance': '',
  'id': '231327566',
  'phone': '0507-1366-0830',
  'place_name': '법무법인태유 변호사 서울사무소',
  'place_url': 'http://place.map.kakao.com/231327566',
  'road_address_name': '서울 강남구 강남대로 364',
  'x': '127.029294127615',
  'y': '37.4955496895173'},
 {'address_name': '서울 강남구 역삼동 826-21',
  'category_group_code': '',
  'category_group_name': '',
  'category_name': '부동산 > 부동산서비스 > 분양사무소',
  'distance': '',
  'id': '1268260310',
  'phone': '1644-7761',
  'place_name': '고덕헤리움시그니어 강남홍보관',
  'place_url': 'http://place.map.kakao.com/1268260310',
  'road_address_name': '서울 강남구 강남대로 364',
  'x': '127.029200266706',
  'y': '37.4955443067136'},
 {'address_name': '서울 강남구 역삼동 826-21',
  'category_group_code': '',
  'category_group_name': '',
  'category_name': '금융,보험 > 금융서비스 > 보험사',
  'distance': '',
  'id': '19552483',
  'phone': '02-6956-6986',
  'place_name': '엘플러스보험중개',
  'place_url': 'http://place.map.kakao.com/19552483',
  'road_address_name': '서울 강남구 강남대로 364',
  'x': '127.02929412761458',
  'y': '37.49554968951727'},
 {'address_name': '서울 강남구 역삼동 826-21',
  'category_group_code': '',
  'category_group_name': '',
  'category_name': '서비스,산업 > 전문대행 > 컨설팅',
  'distance': '',
  'id': '364563992',
  'phone': '1522-8428',
  'place_name': '나투어바이오제약 본사',
  'place_url': 'http://place.map.kakao.com/364563992',
  'road_address_name': '서울 강남구 강남대로 364',
  'x': '127.029292997489',
  'y': '37.495551491811'},
 {'address_name': '서울 강남구 역삼동 826-21',
  'category_group_code': '',
  'category_group_name': '',
  'category_name': '스포츠,레저 > 스포츠시설 > 헬스클럽',
  'distance': '',
  'id': '975989626',
  'phone': '',
  'place_name': '바디메이커',
  'place_url': 'http://place.map.kakao.com/975989626',
  'road_address_name': '서울 강남구 강남대로 364',
  'x': '127.029292997489',
  'y': '37.495551491811'}]

In [120]:
target_lat = places[0]['y']
target_lng = places[0]['x']
print(target_lat, target_lng)

37.49554428487904 127.0292884713586

In [133]:
distance_sql = """
select s.id, b.name, s.name, s.address, ST_Distance_Sphere(point(s.lng, s.lat), point(%s, %s)) / 1000 as distance
from gas_station s, gas_brand b
where s.brand=b.id and ST_Distance_Sphere(point(lng, lat), point(%s, %s)) <= 1000;
"""
mycursor.execute(distance_sql, (target_lng, target_lat, target_lng, target_lat))
rows = mycursor.fetchall()
columns = [column[0] for column in mycursor.description]
distance_df = pd.DataFrame(rows, columns=columns)
distance_df

    id    name                 name                address  distance
0   12   SK에너지              SK서광주유소         서울 강남구 역삼로 142  0.529114
1  205  현대오일뱅크  HD현대오일뱅크㈜직영 서초제일주유소  서울 서초구 사임당로 116 (서초동)  0.809422
2    8   S-OIL         극동유화㈜ 개나리주유소   서울 강남구 언주로 423 (역삼동)  0.959423

문제 7.

위도, 경도 정보를 이용하여 미왕빌딩에서 셀프주유가 가능하고 24시간이면서 편의점이 있는 가장 가까운 주유소 10개를 휘 발유 가격이 가장 저렴한 순으로 정렬하여 조회하세요.

- 주유소 아이디, 주유소 브랜드명, 주유소 매장명, 주소, 휘발유 가격, 부가정보 (셀프, 24시간, 편의점 여부), 미왕빌딩으로 부터의 거리 (km)


제출 7.
- 쿼리, 결과

In [145]:
distance_sql = """
select m.id, m.brand, m.name, m.address, m.gasoline, m.self, m.24_hours, m.convenience_store, m.distance
from (select s.id, b.name brand, s.name, s.address, s.gasoline, s.self, s.24_hours, s.convenience_store, ST_Distance_Sphere(point(s.lng, s.lat), point(%s, %s))/1000 as distance
      from gas_brand b, gas_station s
      where b.id=s.brand and s.self=1 and s.24_hours=1 and s.convenience_store=1 order by distance limit 10) m
order by m.gasoline
"""
mycursor.execute(distance_sql, (target_lng, target_lat))
rows = mycursor.fetchall()
columns = [column[0] for column in mycursor.description]
distance_df = pd.DataFrame(rows, columns=columns)
distance_df

,id,brand,name,address,gasoline,self,24_hours,convenience_store,distance
0,195,알뜰주유소,만남의광장주유소,서울 서초구 양재대로12길 73-71,1563,1,1,1,4.103570
1,298,SK에너지,행촌주유소,서울 영등포구 도신로 130 (신길동),1565,1,1,1,10.951816
2,183,현대오일뱅크,(주)가재울뉴타운주유소,서울 서대문구 모래내로 205,1612,1,1,1,12.785482
3,253,GS칼텍스,지에스칼텍스(주)가든파이브주유소,서울 송파구 탄천동로 740,1633,1,1,1,5.293208
4,188,SK에너지,행촌제2주유소,서울 서대문구 성산로 490 (대신동),1635,1,1,1,10.698941
5,311,SK에너지,SK에너지(주) 기린주유소,서울 영등포구 선유로 270,1639,1,1,1,12.320084
6,290,현대오일뱅크,현대오일뱅크(주)직영 양천현대셀프주유소,서울 양천구 안양천로 1179 (목동),1639,1,1,1,14.200843
7,256,SK에너지,백제고분로주유소,서울 송파구 오금로 143 (방이동),1643,1,1,1,7.946045
8,123,GS칼텍스,대득에너지(금천셀프주유소),서울 금천구 시흥대로 81 (시흥동),1665,1,1,1,12.679783
9,206,SK에너지,대신석유(주)대우주유소,서울 서초구 양재대로 173 (양재동),1699,1,1,1,3.710018

문제 8.

구별로 주유소 브랜드 별 휘발유 평균가격을 조회하여 저렴한 순으로 출력하세요.

- 구 이름, 주유소 브랜드 이름, 휘발유 평균 가격

제출 8.
- 쿼리, 결과

In [148]:
price_sql = """
select s.gu 구, b.name 브랜드, avg(s.gasoline) as 평균가격
from gas_station s, gas_brand b
where s.brand=b.id
group by s.gu, b.name
order by s.gu, 평균가격
"""
mycursor.execute(price_sql)
rows = mycursor.fetchall()
columns = [column[0] for column in mycursor.description]
price_df = pd.DataFrame(rows, columns=columns)
price_df

      구     브랜드       평균가격
0   강남구   SK에너지  1841.6364
1   강남구   S-OIL  1886.0000
2   강남구  현대오일뱅크  1944.3750
3   강남구   GS칼텍스  2006.7778
4   강동구   GS칼텍스  1745.0000
..  ...     ...        ...
94   중구   SK에너지  2100.2500
95   중구   GS칼텍스  2409.0000
96  중랑구   GS칼텍스  1593.6667
97  중랑구   S-OIL  1606.7500
98  중랑구   SK에너지  1651.2500

[99 rows x 3 columns]

In [5]:
mycursor.close()
conn.close()

---